<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtozZwoQ-tYlZIw3OS1uTwBIFwBfLzOWM</string>
	<key>GCM_SENDER_ID</key>
	<string>949521501148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mustafakurt.animelist.animeList</string>
	<key>PROJECT_ID</key>
	<string>anime-list-fd08a</string>
	<key>STORAGE_BUCKET</key>
	<string>anime-list-fd08a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949521501148:ios:bd032f767b51ea0fc3dd19</string>
</dict>
</plist>